<p-toast></p-toast>

<div class="container">
  @if (pedidos$ | async; as listaDePedidos) {
    <h2>Lista de Pedidos</h2>

    @for (pedido of listaDePedidos; track pedido.id) {
      <div class="card">
        <div class="header">
          <h3>#{{ pedido.id }} - Pedido: {{ pedido.nome }}</h3>
          <button
            pButton
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-text p-button-sm"
            (click)="excluirPedido(pedido.id)"
          >
            Pedido
          </button>
        </div>

        <ul>
          @for (item of pedido.produtos; track item.id) {
            <li>
              <div class="produto">
                {{ item.produto.nome }} - R$ {{ item.produto.preco }}
                <button
                  pButton
                  icon="pi pi-times"
                  class="p-button-rounded p-button-danger p-button-text p-button-sm"
                  (click)="removerProduto(pedido.id, item.produto.id)"
                >
                  Produto
                </button>
              </div>
            </li>
          } @empty {
            <li>Nenhum produto neste pedido.</li>
          }
        </ul>

        <div class="footer">
          <h3>R$:{{ getPedidoTotal(pedido) }}</h3>
          <p-button
            label="Item"
            icon="pi pi-plus"
            styleClass="p-button-sm p-button-outlined"
            (click)="abrirModalAdicionar(pedido)"
          >
          </p-button>
        </div>
      </div>
    } @empty {
      <p>Nenhum pedido encontrado.</p>
    }
  } @else {
    <p>Carregando pedidos...</p>
  }
</div>

<p-dialog header="Adicionar Produto" [(visible)]="exibirModal" [modal]="true" class="box-modal">
  @if (pedidoSelecionado) {
    <div class="box-main">
      <strong>{{ pedidoSelecionado.nome }}</strong>

      <p-multi-select
        [options]="(produtos$ | async) || []"
        [(ngModel)]="produtoIdSelecionado"
        [selectionLimit]="1"
        optionLabel="nome"
        optionValue="id"
        placeholder="Selecione um produto"
        appendTo="body"
        class="select"
      >
      </p-multi-select>

      <div class="box-buttons">
        <p-button
          label="Adicionar"
          icon="pi pi-check"
          (click)="adicionarProdutos()"
          [disabled]="!produtoIdSelecionado"
        ></p-button>
      </div>
    </div>
  }
</p-dialog>
